

.container-courses {
    background-color: #F3F3F3;
    width: 90%;

    margin: 0 auto;
    position: relative;
    bottom: 35px;

}

.img-content {
    display: flex;
    justify-content: center;

}

.img img {
    width: 700px;
    height: 450px;
    background-color: aquamarine;
    margin-top: 40px;


}








.courses-content {
    display: flex;
    justify-content: space-around
}



.courses-box {
    width: 484px;

    margin: 80px 0 20px 0;
}

.text-content {
    background-color: #ffff;
    padding: 8px;
    text-align: right;
    border-style: solid;
    border-color: #9A8D8D;
    border-width: 1px 1px 0 1px;
    border-radius: 4px 4px 0 0;
    width: 340px;
    margin: 0 0 0 auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 2;
    position: relative;

}


.text-content::before {
    content: "";
    height: 100%;
    left: 0px;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    z-index: -1;

}

.text-content:hover::before {
    width: 100%;
    background: #c1e2f8;


}

.title {
    font-size: 14px;
    font-family: iranYekan;
    color: #333;
}

.text {
    font-size: 10px;
    font-family: iranYekan;
    padding: 5px;
    color: #A4A4A4;
}

.img-courses {
    height: 358px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.img-courses img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}